body {text-align: justify;
padding: 15px;
    font-family: Comic Sans MS;
border-block-start-style: ridge;
background-color:rgba(250, 178, 10, 0.931)}
body { color:rgb(0, 0, 0);
border: 5px inset red}

